Tweet:<br/>
<form method="post" action="/tweets/<%= @tweet.id %>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" value="<%= @tweet.content %>" name="content"><br/>
  <input type="submit" value="Edit Tweet"><br/>
  <!--<input type="submit" value="Delete Tweet"><br/>-->
</form>
